body {
    padding:0;
    margin:0;
    color: white;
    font-family: 'Baloo Paaji 2', cursive;
}
.App{
    background-color: lightcoral;
    width: 100%;
    height: 1000px;
}

.logoName{
    font-size: 35px;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* Slider */
.bigTitle{
    /* Make the div center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Other settings */
    width: 300px;
    height: 150;
    border: 5px solid white;
}

.bigInside {
    border: 5px solid white;
    height: 80px;
    margin:25px 30px ;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}


/* Countdown */

.countdown_wrapper {
    /* Pin the countdown to left bottom */
    position:absolute;
    bottom: 0px;
    left: 0px;
    color:lightcyan;
}

.countdown_wrapper .countdown_title {
    background: lightsalmon;
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_body{
    display: flex;
    background: lightpink;
    padding: 5px 0px 5px 0px;
    min-height: 100%;

}

.countdown_wrapper .countdown_time {
    font-size: 40px;
    border-right: 1px solid #F44336;
    margin-left: 20px;
    padding-right: 20px;
}

/* Remove border of last element */
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    font-size: 15px;
    padding-left: 20px;
}

/* Information Board */
.info_board{
    background-color: lightcoral;
}

.center_wrapper{
    margin: 0 auto;
}

.inner_center_wrapper{
    display: flex;
    padding: 150px 0px;
}

.item{
    text-align: center;
    margin: auto 30px;
    width: 50%;
    padding: 5px;
    align-self: stretch;
    flex: 1;
}

.item .outer {
    /* Note: the border will add outside the div */
    /* Use box-sizing to include border to padding */
    box-sizing: border-box;
    border: 2px solid lightcyan;
    margin: auto;
    padding: 5px;
    margin: 0px;

}

.item .inner { 
    border: 2px solid lightcyan;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
    transition: all 500ms ease;
}

.item .inner:hover{
    background: lightpink;
}

.item .icon_background {
    background-color: lightsalmon;
    width: 80px;
    height: 80px;
    position: absolute;
    /* -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); */
    transform: translate(-50%, 0) rotate(45deg);
    top: -40px;
    left: 50%;
}

.item .icon {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.inner .title{
    font-size: 30px;
    margin-top: 50px;
}

.inner .detail{
    margin-top: 5px;;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Hightlight Section */
.highlight_wrapper{
    background-color: lightsalmon;
    padding: 20px 0px;
    text-align: center;
}

.center_wrapper h2{
    margin: 0px;
    padding: 20px;
    font-size: 50px;
    border-bottom: 1px solid white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;

}

.center_wrapper .highlights_description{
    padding: 30px;
    text-align: justify;
    line-height: 125%;
    font-size: 20px;
    border-bottom: 1px solid white;
}

/* Discount Section */
.discount_wrapper{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: space-around;
}

.discount_wrapper .discount_percent{
    color: rgb(225, 53, 55);
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount_percent .percent_number {
    font-size: 100px;
    font-weight: 400;
    display: block;
    /* Make the div fit content */
    line-height: 100px;
}

.discount_percent .percent_letters{
    font-size: 30px;
}

.discount_description h4{
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

.discount_description p{
    font-size: 20px;
    line-height: 120%;
    text-align: justify;
}

.discount_description .btn_wrapper{
    display: flex;
    justify-content: left;
}

/* Price Section */
.price_section{
    background-color: lightcoral;
    margin: 0;
}

.price_section .price_details{
    padding: 0px 60px;
}

.price_details_wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
}

.price_item{
    margin: 50px;
    flex-grow: 1;
    flex-wrap: wrap;
    border: 2px solid white;
    box-sizing: border-box;
    display: flex;

}

.price_item .price_item_wrapper{
    margin: 5px;
    border: 2px solid white;
    padding: 10px;
}

.price_title{
    margin: 0px 10px;
    padding: 5px;
    font-size: 30px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.price_title :nth-child(1){
    line-height: 30px;
    display: block;
}

.price_description{
    padding: 5px;
    text-align: center;
    letter-spacing: 0px;
    font-size: 18px;
}

/* Location */
.location_wrapper{
    margin: 0;
    position: relative;
    background-color: white;
}

.location_wrapper .location_tag{
    position: absolute;
    width: 100%;
}

.location_tag{
    height: 80px;
    background-color: lightcoral;
}

.location_tag div{
    background-color: lightcoral;
    text-align: center; 
    width: 100px;
    margin: 0 auto;
    font-size: 30px;
    transform: translateY(-80%);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* Footer */
footer{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: #2f2f2f;
    text-align: center;
}

.footer_logo{
    font-size: 50px;
    font-family: 'Baloo Paaji 2', cursive;
}
/* ======================== */
/* Mobile */
/* ======================== */
@media(max-width:1000px) {
    .bigTitle{
        width: 100%;
        box-sizing: border-box;
    }
    .discount_wrapper{
        flex-direction: column;
    }

    .inner_center_wrapper{
        padding: 30px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .inner_center_wrapper .item{
        width: 80%;
        padding-top: 50px;
        margin: auto;
    }

    .price_details_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

@media(max-width:500px) {
    .price_item { 
        border-style: none;
    }

}